<div class="container">
  <h1 class="content__name">Новости</h1>
  <div class="wrapper__content">
    <div class="news news-24">
      <div class="news__data news-24__data">
        <p>25 июля 2020 года</p>
      </div>
      <div class="news__text news-24__text">
        <br>
        <div class="parents_info">
          <p>И в завершении июльской серии помётов</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Simonaland Make My Day</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><span class="text-green_a"><u>Varinhouse Young-and-Beautiful</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/l"><p class="text-orange_a"><u>Литера "L"</u></p></a>
        <p>2 мальчика триколор и 3 девочки (2 триколор, 1 биколор).</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-24">
      <div class="news__data news-24__data">
        <p>20 июля 2020 года</p>
      </div>
      <div class="news__text news-24__text">
        <br>
        <div class="parents_info">
          <p>Продолжаем серию июльских помётов.</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Simonaland Cezar</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><span class="text-green_a"><u>Angel's Born Gwen Stacy</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/k"><p class="text-orange_a"><u>Литера "K"</u></p></a>
        <p>4 мальчика (3 триколор, 1 биколор) и 2 девочки триколор.</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-23">
      <div class="news__data news-23__data">
        <p>13 июля 2020 года</p>
      </div>
      <div class="news__text news-23__text">
        <br>
        <div class="parents_info">
          <p>Открываем серию июльских помётов.</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Art-Fantasy Volt</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/i"><p class="text-orange_a"><u>Литера "I"</u></p></a>
        <p>2 мальчика триколор, 4 девочки (2 триколор, 2 биколор).</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-22">
      <div class="news__data news-22__data">
        <p>Май 2020 года</p>
      </div>
      <div class="news__text news-22__text">
        <br>
        <div class="parents_info">
          <p>Состоялась вязка.</p>
          <p>В июле ждём рождения щенков от пар:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Art-Fantasy Volt</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/i"><p class="text-orange_a"><u>Литера "I"</u></p></a>
        <br>
        <div class="parents_name"><p><span class="text-green">Simonaland Cezar</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><span class="text-green_a"><u>Angel's Born Gwen Stacy</u></span></a></p></div>
        <p class="text-orange">Литера "K"</p>
        <br>
        <div class="parents_name"><p><span class="text-green">Simonaland Make My Day</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><span class="text-green_a"><u>Varinhouse Young-and-Beautiful</u></span></a></p></div>
        <p class="text-orange">Литера "L"</p>
      </div>
    </div>
    <div class="news news-21">
      <div class="news__data news-21__data">
        <p>1 января 2020 года</p>
      </div>
      <div class="news__text news-21__text">
        <br>
        <div class="parents_info">
          <p>А у нас пополнение!</p>
          <p>Новогодний подарок под бой курантов!</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name">
          <p><span class="text-green">Bory Wood Vidian Van Dyke</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-belanta"><span class="text-green_a"><u>Angel's Born Belanta</u></span></a></p>
        </div>
        <div class="liter_info">
          <p>Дата рождения: 31.12.19.</p>
          <p>Три мальчика триколор.</p>
        </div>
      </div>
      <div class="news__foto news-21__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/z">
            <p class="table-p">ЛИТЕРА "Z"</p>
          </a>
        </div>
        <div class="table__content column-one">
          <a routerLink="/nashe-razvedenie/pomet/z">
            <img src="assets/images/nashi-sobaki/Belka/32.jpg" alt="Bory Wood Vidian Van Dyke &amp; Angel's Born Belanta">
          </a>
        </div>
      </div>
    </div>
    <div class="news news-20">
      <div class="news__data news-20__data">
        <p>13 декабря 2019 года</p>
      </div>
      <div class="news__foto news-20__foto">
        <div class="table__title">
          <p class="table-p news-20__table-p">Вышел в свет наш ежегодный календарь нашего питомника "Angel's Born" на 2020 год.</p>
        </div>
        <div class="table__content">
          <div class="row-1__calendar-2020">
            <img src="assets/images/news/2020/news-20.1.jpg" alt="Angel's Born calendar 2020">
            <img src="assets/images/news/2020/news-20.2.jpg" alt="Angel's Born calendar 2020">
            <img src="assets/images/news/2020/news-20.3.jpg" alt="Angel's Born calendar 2020">
            <img src="assets/images/news/2020/news-20.4.jpg" alt="Angel's Born calendar 2020">
          </div>
          <div class="row-2__calendar-2020 table__row-mobile"></div>
        </div>
      </div>
      <div class="news__text news-5__text">
        <p>Рады поделиться чудесным событием!</p>
        <p>Вышел в свет наш ежегодный календарь нашего питомника "Angel's Born" на 2020 год.</p>
        <p>Календарь настенный перекидной, на 12 месяцев, формат А3.</p>
        <p>Содержимое календаря представляет только собак нашего питомника. Огромное спасибо за дизайн Екатерине Маклаковой, за профессионализм и понимание и, конечно благодарим владельцев наших выпускников за предоставленные фото.</p>
        <p>Календарь можно приобрести, желающие пишите, звоните... Количество экземпляров ограничено.</p>
      </div>
    </div>

    <div class="news news-19">
      <div class="news__data news-19__data">
        <p>23-24 ноября 2019 года</p>
      </div>
      <div class="news__text news-19__text">
        <br>
        <p><i>International Dog Show, 2 х CACIB, Белоруссия, г. Минск</i></p>
        <div class="news-19__text__block-3">
          <p>Эксперты:</p>
          <div class="block-name">
            <p>Miroslav Vaclavik (Чехия),</p>
            <p>Kalvo Kriisk (Эстония)</p>
          </div>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a></p>
        <div class="news-19__text__block-1">
          <p>23.11 - отл. (1/2), CW, САС</p>
          <p>24.11 - отл., CW, САС</p>
          <p><sup class="sup-1__news-19">Чемпион Белоруссии, Гранд Чемпион Белоруссии</sup></p>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u> ANGEL'S BORN GWEN STASY</u></a></p>
        <div class="news-19__text__block-2">
          <p>23.11 - отл. (3/3)</p>
          <p> 24.11 - отл. (1/3), CW, JCAC</p>
          <p><sup class="sup-2__news-19">Юный Чемпион Белоруссии</sup></p>
        </div>
        <br>
      </div>
      <div class="news__foto news-19__foto">
        <div class="table__title">
          <p class="table-p news-19__table-p">IDS, г. Минск</p>
        </div>
        <div class="table__content column-one">
          <div class="row-1__news-19">
            <img src="assets/images/news/2019/news-19.jpg" alt="Angel's Born Gwen Stacy">
          </div>
        </div>
      </div>
    </div>

    <div class="news news-18">
      <div class="news__data news-18__data">
        <p>9-10 ноября 2019 года</p>
      </div>
      <div class="news__text news-18__text">
        <br>
        <p><i>Выставка "Олимп", САС-КЧФ, г. Москва.</i></p>
        <p>Эксперт: Яна Гаврилова</p>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> - отл., CW, CAC, КЧФ, ЛС, ЛПП, BIG-2</p>
        <p><sup class="sup-1__news-18">Открылась на Чемпиона России</sup></p>
        <br><br>
        <p><i>Выставка "Ника", САС-ЧФ, г. Москва.</i></p>
        <p>Эксперт: Юлия Олькова</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a>- отл., CW, CAC, ЧФ, ЛС, ЛПП, BIG-1</p>
        <br><br>
        <p><i>Выставка "Атлантида", САС-ЧФ, г. Москва.</i></p>
        <p>Эксперт: Саша Китанович</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> -  отл., CW, САС, ЧФ, ЛС, ЛПП, BIG-2</p>
        <br><br>
      </div>
      <div class="news__foto news-18__foto">
        <div class="table__title">
          <p class="table-p news-18__table-p"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy">Выставка "Волжский Вернисаж-2019" и Самарская Осень-2019"</a></p>
        </div>
        <div class="table__content ">
          <div class="row-1__news-18">
            <img src="assets/images/news/2019/news-18.1.jpg" alt="Angel's Born Gwen Stacy">
            <img src="assets/images/news/2019/news-18.2.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-18,0,918" src="assets/images/news/2019/news-18.3.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-18,1,918" src="assets/images/news/2019/news-18.4.jpg" alt="Angel's Born Gwen Stacy">
          </div>
          <div class="row-2__news-18 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-17">
      <div class="news__data news-17__data">
        <p>20 октября 2019 года</p>
      </div>
      <div class="news__text news-17__text">
        <br>
        <p><i>Выставка "Волжский Вернисаж-2019" и Самарская Осень-2019", 2 х САС , г. Самара</i></p>
        <div class="news-17__text__block-1">
          <p>Эксперты:</p>
          <div class="block-name">
            <p>Галина Переведенцева</p>
            <p>Алла Филатова</p>
          </div>
        </div>
        <br>
        <p>Дебют нашего маленького выпускника:</p>
        <p><a routerLink="/nashe-razvedenie/pomet/e"><u>ANGEL'S BORN EL CORAZON</u></a> - оч. перспект., Лучший Бэби, Best Baby-2 и 4 место</p>
        <p>Поздравляем владельцев!</p>
      </div>
      <div class="news__foto news-17__foto">
        <div class="table__title">
          <p class="table-p news-17__table-p"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy">Выставка "Волжский Вернисаж-2019" и Самарская Осень-2019"</a></p>
        </div>
        <div class="table__content connect__content-mini column-one-550px">
          <div class="row-1__news-17">
            <img src="assets/images/news/2019/news-17.1.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-17,0,508" src="assets/images/news/2019/news-17.2.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-3__news-17,0,918" src="assets/images/news/2019/news-17.3.jpg" alt="Angel's Born Gwen Stacy">
          </div>
          <div class="row-2__news-17 table__row-mobile"></div>
        </div>
        <div class="table__content-mini column-one">
          <div class="row-3__news-17 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-16">
      <div class="news__data news-16__data">
        <p>14 июня 2019 года</p>
      </div>
      <div class="news__text news-16__text">
        <br>
        <div class="parents_info"><p>Рождение щенков в нашем питомнике от пары:</p></div>
        <div class="parents_name"><p><span class="text-green">BEAGELEE ROAD RUNNER</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
      </div>
      <div class="news__foto news-16__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/j">
            <p class="table-p">ЛИТЕРА "J"</p>
          </a>
        </div>
        <div class="table__content column-one">
          <a routerLink="/nashe-razvedenie/pomet/d">
            <img src="assets/images/nashe-razvedenie/pomet-j/Father/father.jpg" alt="BEAGELEE ROAD RUNNER &amp; Angel's Born Alicia Rey">
          </a>
        </div>
      </div>
    </div>

    <div class="news news-15">
      <div class="news__data news-15__data">
        <p>31 мая - 2 июня 2019 года</p>
      </div>
      <div class="news__text news-15__text">
        <br>
        <p><i>International Dog Show, 3 х CACIB, Грузия, г. Батуми</i></p>
        <div class="news-15__text__block-3">
          <p>Эксперты:</p>
          <div class="block-name">
            <p>Борис Байц (Словения),</p>
            <p>Елена Агафонова (Украина),</p>
            <p>Энрико Друди (Сан-Марино)</p>
          </div>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a></p>
        <div class="news-15__text__block-1">
          <p>31.05 - отл., CW, САС</p>
          <p>01.06 - отл., CW, САС, ЛС, ЛПП, CACIB, BIG-1</p>
          <p>02.06 - отл., CW, CАC</p>
          <p><sup class="sup-1__news-15">Чемпион Грузии, Гранд Чемпион Грузии, Чемпион Кавказа</sup></p>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u> ANGEL'S BORN GWEN STASY</u></a></p>
        <div class="news-15__text__block-2">
          <p>31.05 - отл. (2/2)</p>
          <p>01.06 - отл., CW, JCAC, ЛЮ</p>
          <p>02.06 - отл., (2/2)</p>
          <p><sup class="sup-2__news-15">Юный Чемпион Грузии, Юный Чемпион Кавказа</sup></p>
        </div>
        <br>
      </div>
      <div class="news__foto news-15__foto">
        <div class="table__title">
          <p class="table-p news-15__table-p">International Dog Show, Грузия, г. Батуми</p>
        </div>
        <div class="table__content column-one-550px">
          <div class="row-1__news-15">
            <img src="assets/images/news/2019/news-15.1.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-15,0,508" src="assets/images/news/2019/news-15.2.jpg" alt="Angel's Born Gwen Stacy and Angel's Born Belanta">
          </div>
          <div class="row-2__news-15 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-14">
      <div class="news__data news-14__data">
        <p>28-29 мая 2019 года</p>
      </div>
      <div class="news__text news-14__text">
        <br>
        <p><i>International Dog Show, ранг CACIB, Армения, г. Ереван</i></p>
        <div class="news-14__text__block-3">
          <p>Эксперты:</p>
          <div class="block-name">
            <p>Petru Muntean (Румыния),</p>
            <p>Галина Жук (Беларусия)</p>
          </div>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a></p>
        <div class="news-14__text__block-1">
          <p>28.05 - отл. (2/3), RCACIB</p>
          <p>29.05 - отл., CW, САС</p>
          <p><sup class="sup-1__news-14">Чемпион Армении</sup></p>
        </div>
        <br>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u> ANGEL'S BORN GWEN STASY</u></a></p>
        <div class="news-14__text__block-2">
          <p>28.05 - отл. (2/2), RJCAC,</p>
          <p>29.05 - отл., CW (1/2), JCAC, ЛЮ</p>
          <p><sup class="sup-2__news-14">Юный Чемпион Армении</sup></p>
        </div>
        <br>
      </div>
      <div class="news__foto news-14__foto">
        <div class="table__title">
          <p class="table-p news-14__table-p">IDS, г. Ереван</p>
        </div>
        <div class="table__content column-one">
          <div class="row-14__IDS">
            <img src="assets/images/news/2019/news-14.jpg" alt="IDS, г. Ереван">
          </div>
        </div>
      </div>
    </div>

    <div class="news news-13">
      <div class="news__data news-13__data">
        <p>26 мая 2019 года</p>
      </div>
      <div class="news__text news-13__text">
        <br>
        <div class="parents_info"><p>Рождение щенков в нашем питомнике от пары:</p></div>
        <div class="parents_name"><p><span class="text-green"> ASTRAVEGAS SHON PENN </span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><span class="text-green_a"><u>VARINHOUSE YOUNG-AND-BEAUTIFUL</u></span></a></p></div>
        <p><a routerLink="/nashe-razvedenie/pomet/e"><u>ЛИТЕРА "E"</u></a></p>
      </div>
    </div>

    <div class="news news-12">
      <div class="news__data news-12__data">
        <p>23-24 мая 2019 года</p>
      </div>
      <div class="news__text news-12__text">
        <br>
        <p><i>International Dog Show, ранг CACIB, Азербайджан, г. Баку</i></p>
        <p>Эксперты: Jose Homem De Mello (Португалия), Manola Poggesi (Италия)</p>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> - 2 х CW, 2 х JCAC, 2 х ЛЮ</p>
        <p><sup class="sup-1__news-12">Юный Чемпион Азербайджана</sup></p>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a> - CW, CC </p>
        <p><sup class="sup-2__news-12">Чемпион Азербайджана</sup></p>
      </div>
      <div class="news__foto news-12__foto">
        <div class="table__title">
          <p class="table-p news-12__table-p">International Dog Show, г. Баку</p>
        </div>
        <div class="table__content connect__content-mini column-one-550px">
          <div class="row-1__news-12">
            <img src="assets/images/news/2019/news-12.1.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-12,0,508" src="assets/images/news/2019/news-12.2.jpg" alt="Angel's Born Gwen Stacy and Angel's Born Belanta">
            <img data-da="row-3__news-12,0,918" src="assets/images/news/2019/news-12.3.jpg" alt="Angel's Born Gwen Stacy">
          </div>
          <div class="row-2__news-12 table__row-mobile"></div>
        </div>
        <div class="table__content-mini column-one">
          <div class="row-3__news-12 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-11">
      <div class="news__data news-11__data">
        <p>21 мая 2019 года</p>
      </div>
      <div class="news__foto news-11__foto">
        <div class="table__title">
          <p class="table-p news-11__table-p">Начался наш Кавказский тур</p>
        </div>
        <div class="table__content connect__content-mini column-one-550px">
          <div class="row-1__news-11">
            <img src="assets/images/news/2019/news-11.1.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-11,0,508" src="assets/images/news/2019/news-11.2.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-3__news-11,0,918" src="assets/images/news/2019/news-11.3.jpg" alt="Angel's Born Gwen Stacy">
          </div>
          <div class="row-2__news-11 table__row-mobile"></div>
        </div>
        <div class="table__content-mini column-one">
          <div class="row-3__news-11 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-10">
      <div class="news__data news-10__data">
        <p>31 марта 2019 года</p>
      </div>
      <div class="news__text news-10__text">
        <br>
        <p><i>Монопородная выставка биглей ранга ПК, г. Москва</i></p>
        <p>Эксперт: Lilianna Bachurzewska (Польша)</p>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> - отл., CW 1/4, ЛЮ, ЮПК</p>
        <p><sup class="sup-1__news-10">в 10 мес. закрыла Юного Чемпиона НКП!!!</sup></p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a> - отл. (3/4)</p>
      </div>
    </div>

    <div class="news news-9">
      <div class="news__data news-9__data">
        <p>24 марта 2019 года</p>
      </div>
      <div class="news__text news-9__text">
        <br>
        <p><i>Выставка "Крафт", г. Москва.</i></p>
        <p>Эксперт Алла Филатова </p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a>- CW, JunCAC, ЛЮ, ЛПП, BIG-1, Best in Show-2!!!</p>
        <br><br>
        <p><i>Выставка "Олимп", г. Москва.</i></p>
        <p>Эксперт Юлия Лакатош.</p>
        <p class="connect__sup"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a>- CW, JunCAC, BOS.</p>
        <p><sup class="sup-1__news-9">В 9 месяцев закрыла Юного Чемпиона России!!!</sup></p>
        <br><br>
        <p><i>Монопородная выставка биглей ранга КЧК, г. Москва.</i></p>
        <p>Эксперт Инна Бегма.</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> -  CW, ЮКЧК.</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a> - CW, CC </p>
      </div>
      <div class="news__foto news-9__foto">
        <div class="table__title">
          <p class="table-p news-9__table-p"><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy">Angel's Born Gwen Stacy</a></p>
        </div>
        <div class="table__content connect__content-mini column-one-550px">
          <div class="row-1__news-9">
            <img src="assets/images/news/2019/news-9.1.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-2__news-9,0,508" src="assets/images/news/2019/news-9.2.jpg" alt="Angel's Born Gwen Stacy">
            <img data-da="row-3__news-9,0,918" src="assets/images/news/2019/news-9.3.jpg" alt="Angel's Born Gwen Stacy">
          </div>
          <div class="row-2__news-9 table__row-mobile"></div>
        </div>
        <div class="table__content-mini column-one">
          <div class="row-3__news-9 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-8">
      <div class="news__data news-8__data">
        <p>16 марта 2019 года</p>
      </div>
      <div class="news__text news-8__text">
        <br>
        <p><i>Монопородная выставка биглей ранга ПК, г. Москва</i></p>
        <p>Эксперт: Petru Muntean (Румыния)</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a> - отл., CW, КЧК</p>
        <br><br>
        <p><i>Всепородная выставка САС - КЧФ "Фортуна", г. Москва</i></p>
        <p>Эксперт: Ольга Гринь</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a>- отл., CW 1/2, JunCAC, ЛЮ, ЛПП</p>
        <p>- открылась на Юного Чемпиона России</p>
      </div>
    </div>

    <div class="news news-7">
      <div class="news__data news-7__data">
        <p>9 февраля 2019 года</p>
      </div>
      <div class="news__foto news-7__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/d">
            <p class="table-p news-7__table-p">Фотосессия в любимом зале "Петсвилль"</p>
          </a>
        </div>
        <div class="table__content ">
          <div class="row-1__news-7">
            <img src="assets/images/news/2019/Pettsville1.jpg" alt="Pettsville">
            <img src="assets/images/news/2019/Pettsville2.jpg" alt="Pettsville">
            <img data-da="row-2__news-7,0,918" src="assets/images/news/2019/Pettsville3.jpg" alt="Pettsville">
          </div>
          <div class="row-2__news-7">
            <img src="assets/images/news/2019/Pettsville4.jpg" alt="Pettsville">
            <img data-da="row-3__news-7,0,918" src="assets/images/news/2019/Pettsville5.jpg" alt="Pettsville">
            <img data-da="row-3__news-7,1,918" src="assets/images/news/2019/Pettsville6.jpg" alt="Pettsville">
          </div>
          <div class="row-3__news-7 table__row-mobile"></div>
        </div>
      </div>
    </div>

    <div class="news news-6">
      <div class="news__data news-6__data">
        <p>31 декабря 2018 года</p>
      </div>
      <div class="news__foto news-6__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/d">
            <p class="table-p news-6__table-p">C Наступающим 2019 годом!!!</p>
          </a>
        </div>
        <div class="table__content column-one">
          <div class="row-1__year-2019">
            <img src="assets/images/news/2019/2019.jpg" alt="Happy New Year">
          </div>
        </div>
      </div>
      <div class="news__text news-6__text">
        <p> Пусть в Новом году у нас будет все, что нельзя купить: Любовь, Здоровье, Счастье и Друзья!</p>
      </div>
    </div>

    <div class="news news-5">
      <div class="news__data news-5__data">
        <p>28 мая 2018 года</p>
      </div>
      <div class="news__foto news-5__foto">
        <div class="table__title">
          <p class="table-p news-5__table-p">Наконец вышел из печати ежегодный календарь нашего питомника на 2019 год.</p>
        </div>
        <div class="table__content">
          <div class="row-1__calendar-2019">
            <img src="assets/images/news/2019/news-5.1.jpg" alt="Angel's Born calendar 2019">
            <img src="assets/images/news/2019/news-5.2.jpg" alt="Angel's Born calendar 2019">
            <img data-da="row-2__calendar-2019,0,918" src="assets/images/news/2019/news-5.3.jpg" alt="Angel's Born calendar 2019">
            <img data-da="row-2__calendar-2019,1,918" src="assets/images/news/2019/news-5.4.jpg" alt="Angel's Born calendar 2019">
          </div>
          <div class="row-2__calendar-2019 table__row-mobile"></div>
        </div>
      </div>
      <div class="news__text news-5__text">
        <p>Календарь настенный, перекидной, на 12 мес., формат А3.</p>
        <p>В этот раз календарь представляет только собак нашего питомника. Хотелось бы отдельно поблагодарить наших выпускников за предоставленные фото. Январь и ноябрь: наши выпускники <a routerLink="/nashe-razvedenie/pomet/a"><u>Angel's Born Antarctic Star</u></a> (владелец Воронова Людмила) и <a routerLink="/nashe-razvedenie/pomet/g"><u>Angel's Born Grant Nelson</u></a> (владелец Светлана Адамович).</p>
        <p>На обложке наша всеми любимая Ника (<a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><u>Varinhouse Young-and-Beautiful</u></a>), родоначальница биглей нашего разведения.</p>
        <p>Огромное спасибо Наталье Дейнгель за непревзойденный подход к фотосессии и Екатерине Маклаковой за творческое оформление нашего календаря.</p>
        <p>Календарь можно приобрести, желающие обращайтесь. Количество экземпляров ограничено.</p>
      </div>
    </div>

    <div class="news news-4">
      <div class="news__data news-4__data">
        <p>25 ноября 2018 года</p>
      </div>
      <div class="news__text news-4__text">
        <br>
        <p><i>Выставка САС - КЧФ "Аванти", г. Тула</i></p>
        <p>Эксперт: Кирилл Барбосов</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> - оч. перспект., Лучший Бэби, Best Baby-2</p>
        <p><a routerLink="/nashe-razvedenie/pomet/v"><u>ANGEL'S BORN VICTORY FOREVER</u></a> - CW 1/2, JunCAC, ЛК, ЛПП.</p>
        <br><br>
        <p><i>Выставка САС - ЧФ "Чемпион", г. Тула.</i></p>
        <p>Эксперт: Валерия Бобикова</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><u>ANGEL'S BORN GWEN STASY</u></a> - оч. перспект., Лучший Бэби, Best Baby-2</p>
        <p><a routerLink="/nashe-razvedenie/pomet/v"><u>ANGEL'S BORN VICTORY FOREVER</u></a> - CW 1/2, JCAC, ЛК</p>
      </div>
    </div>

    <div class="news news-3">
      <div class="news__data news-3__data">
        <p>11 ноября 2018 года</p>
      </div>
      <div class="news__text news-3__text">
        <br>
        <p><i>Всероссийская выставка ранга ЧРКФ "Дельта-Пал", г. Москва</i></p>
        <p>Эксперт: John Wauben (Нидерланды)</p>
        <p><a routerLink="/nashi-sobaki/angel-s-born-belanta"><u>ANGEL'S BORN BELANTA</u></a> - отл., CW, CAC, ЛС, ЧФ, BOS, Чемпион РКФ</p>
      </div>
    </div>

    <div class="news news-2">
      <div class="news__data news-2__data">
        <p>01 июля 2018 года</p>
      </div>
      <div class="news__text news-2__text">
        <br>
        <div class="parents_info"><p>Рождение щенков в нашем питомнике от пары:</p></div>
        <div class="parents_name"><p><span class="text-green"> Sweetfonte the King of Heart (имп. Италия) </span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
      </div>
      <div class="news__foto news-2__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/d">
            <p class="table-p">ЛИТЕРА "D"</p>
          </a>
        </div>
        <div class="table__content column-one">
          <a routerLink="/nashe-razvedenie/pomet/d">
            <img src="assets/images/nashe-razvedenie/pomet-d/Father/father.jpg" alt="Sweetfonte the King of Heart (имп. Италия) &amp; Angel's Born Alicia Rey">
          </a>
        </div>
      </div>
    </div>

    <div class="news news-1">
      <div class="news__data news-1__data">
        <p>28 мая 2018 года</p>
      </div>
      <div class="news__text news-1__text">
        <br>
        <div class="parents_info"><p>Рождение щенков в нашем питомнике от пары:</p></div>
        <div class="parents_name"><p><span class="text-green"> Astravegas Shon Penn </span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-belanta"><span class="text-green_a"><u>Angel's Born Belanta</u></span></a></p></div>
      </div>
      <div class="news__foto news-1__foto">
        <div class="table__title">
          <a routerLink="/nashe-razvedenie/pomet/g">
            <p class="table-p">ЛИТЕРА "G"</p>
          </a>
        </div>
        <div class="table__content column-one">
          <a routerLink="/nashe-razvedenie/pomet/g">
            <img src="assets/images/nashe-razvedenie/pomet-g/Father/father.jpg" alt="Astravegas Shon Penn &amp; Angel's Born Belanta">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
