<div class="container">
  <h1 class="content__name">Новости</h1>
  <div class="wrapper__content">
    <div class="news news-24">
      <div class="news__data news-24__data">
        <p>25 июля 2020 года</p>
      </div>
      <div class="news__text news-24__text">
        <br>
        <div class="parents_info">
          <p>И в завершении июльской серии помётов</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Simonaland Make My Day</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><span class="text-green_a"><u>Varinhouse Young-and-Beautiful</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/l"><p class="text-orange_a"><u>Литера "L"</u></p></a>
        <p>2 мальчика триколор и 3 девочки (2 триколор, 1 биколор).</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-24">
      <div class="news__data news-24__data">
        <p>20 июля 2020 года</p>
      </div>
      <div class="news__text news-24__text">
        <br>
        <div class="parents_info">
          <p>Продолжаем серию июльских помётов.</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Simonaland Cezar</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><span class="text-green_a"><u>Angel's Born Gwen Stacy</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/k"><p class="text-orange_a"><u>Литера "K"</u></p></a>
        <p>4 мальчика (3 триколор, 1 биколор) и 2 девочки триколор.</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-23">
      <div class="news__data news-23__data">
        <p>13 июля 2020 года</p>
      </div>
      <div class="news__text news-23__text">
        <br>
        <div class="parents_info">
          <p>Открываем серию июльских помётов.</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Art-Fantasy Volt</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/i"><p class="text-orange_a"><u>Литера "I"</u></p></a>
        <p>2 мальчика триколор, 4 девочки (2 триколор, 2 биколор).</p>
        <p class="text-green">Есть свободные щенки.</p>
      </div>
    </div>
    <div class="news news-22">
      <div class="news__data news-22__data">
        <p>Май 2020 года</p>
      </div>
      <div class="news__text news-22__text">
        <br>
        <div class="parents_info">
          <p>Состоялась вязка.</p>
          <p>В июле ждём рождения щенков от пар:</p>
        </div>
        <div class="parents_name"><p><span class="text-green">Art-Fantasy Volt</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey"><span class="text-green_a"><u>Angel's Born Alicia Rey</u></span></a></p></div>
        <a routerLink="/nashe-razvedenie/pomet/i"><p class="text-orange_a"><u>Литера "I"</u></p></a>
        <br>
        <div class="parents_name"><p><span class="text-green">Simonaland Cezar</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy"><span class="text-green_a"><u>Angel's Born Gwen Stacy</u></span></a></p></div>
        <p class="text-orange">Литера "K"</p>
        <br>
        <div class="parents_name"><p><span class="text-green">Simonaland Make My Day</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful"><span class="text-green_a"><u>Varinhouse Young-and-Beautiful</u></span></a></p></div>
        <p class="text-orange">Литера "L"</p>
      </div>
    </div>
    <div class="news news-21">
      <div class="news__data news-21__data">
        <p>1 января 2020 года</p>
      </div>
      <div class="news__text news-21__text">
        <br>
        <div class="parents_info">
          <p>А у нас пополнение!</p>
          <p>Новогодний подарок под бой курантов!</p>
          <p>Рождение щенков от пары:</p>
        </div>
        <div class="parents_name">
          <p><span class="text-green">Bory Wood Vidian Van Dyke</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/angel-s-born-belanta"><span class="text-green_a"><u>Angel's Born Belanta</u></span></a></p>
        </div>
        <div class="liter_info">
          <p>Дата рождения: 31.12.19.</p>
          <p>Три мальчика триколор.</p>
        </div>
      </div>
    </div>
  </div>
</div>
