<div class="container">
  <h1 class="content__name">Щенки</h1>
  <div class="sidebar__wrapper">
    <div class="sidebar" aria-hidden="true"></div>
    <div class="wrapper__content">
    <div class="parents">
      <div class="lable__info">
        <p class="p__margin">Очень надеемся, что наши малыши, которых мы растим с любовью и нежностью, обретут самых лучших владельцев!</p>
        <p>Мы хотим, чтобы щенок, которого вы приобретёте у нас, приносил вам только радость и стал для вас настоящим другом. Будем искренне рады видеть вас в числе наших друзей, любителей породы. С радостью поделимся нашим опытом и знаниями.</p>
      </div>
      @if (littersOnPuppiesPage.length > 0) {
        <div class="status__pappy">
          <p class="text-green status__pappy-p">У нас есть щенки!</p>
        </div>
        @for (letter of littersOnPuppiesPage; track letter) {
          @if (litterHeaderByLetter[letter]) {
            <app-litter-header [data]="litterHeaderByLetter[letter]" />
          }
          @if (puppiesByLetter[letter].length) {
            @for (p of puppiesByLetter[letter]; track p.title) {
              <app-puppy-card [puppy]="p" />
            }
          }
        }
      }
    </div>
    </div>
  </div>
</div>
