<div class="container">
  <h1 class="content__name">Наши собаки</h1>
  <div class="lable__info">
    <p class="p__margin">
      Каждая наша собака - личность, со своим характером, привычками, особенностями, складом ума. Мы относимся к ним с большим уважением и любовью, независимо от их выставочных успехов, племенной ценности, красоты, ума и возраста. Это полноценные члены нашей семьи.
    </p>
    <p>Наши собаки отражают всё то, что мы так ценим и любим в этой породе - неуёмную энергию, отличный темперамент, безграничную любовь к людям, абсолютное отсутствие агрессии, желание работать и просто быть рядом со своим хозяином. И, конечно же, красоту...</p>
    <p class="info-red">Кликнув на собачку вы попадёте на её индивидуальную страничку</p>
  </div>
  <div class="wrapper__content">
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful">
          <img src="assets/images/nashi-sobaki/Nika/Varinhouse_Young_and_Beautiful.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/varinhouse-young-and-beautiful">
          <p class="table-p">Varinhouse Young and Beautiful</p>
          <p class="mobile__table-p">НИКА</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey">
          <img src="assets/images/nashi-sobaki/Alisa/Alicia_Rey.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/angel-s-born-alicia-rey">
          <p class="table-p">Angel's Born Alicia Rey</p>
          <p class="mobile__table-p">АЛИСА</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/angel-s-born-belanta">
          <img src="assets/images/nashi-sobaki/Belka/Belanta.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/angel-s-born-belanta">
          <p class="table-p">Angel's Born Belanta</p>
          <p class="mobile__table-p">БЕЛКА</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy">
          <img src="assets/images/nashi-sobaki/Stacy/Gwen_Stacy.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/angel-s-born-gwen-stacy">
          <p class="table-p">Angel's Born Gwen Stacy</p>
          <p class="mobile__table-p">ТЕЙСИ</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/ledi-angel">
          <img src="assets/images/nashi-sobaki/Angel/Angel.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/ledi-angel">
          <p class="table-p">Ledi Angel</p>
          <p class="mobile__table-p">ЭНДЖЕЛ</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/berry">
          <img src="assets/images/nashi-sobaki/Berry/Berry.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/berry">
          <p class="table-p">Berry</p>
          <p class="mobile__table-p">БЕРРИ</p>
        </a>
      </div>
    </div>
    <div class="content__box">
      <div class="table__content">
        <a routerLink="/nashi-sobaki/ultramarines-butterfly">
          <img src="assets/images/nashi-sobaki/Baffi/face1.jpg" alt="">
        </a>
      </div>
      <div class="table__title">
        <a routerLink="/nashi-sobaki/ultramarines-butterfly">
          <p class="table-p">Ultramarines Butterfly</p>
          <p class="mobile__table-p">Баффи</p>
        </a>
      </div>
    </div>
  </div>
</div>
