<footer class="footer">
  <nav class="menu no__active">
    <div class="menu_mobile">
    </div>
    <ul class="menu__list menu__footer">
      <li class="menu__list-item"><a routerLink="/" routerLinkActive="menu_list-link__white" [routerLinkActiveOptions]="{ exact: true }" class="menu_list-link">главная</a></li>
      <li class="menu__list-item"><a routerLink="/istoriya" routerLinkActive="menu_list-link__white" class="menu_list-link">история</a></li>
      <li class="menu__list-item"><a routerLink="/nashi-sobaki" routerLinkActive="menu_list-link__white" class="menu_list-link">наши собаки</a></li>
      <li class="menu__list-item"><a routerLink="/nashe-razvedenie" routerLinkActive="menu_list-link__white" class="menu_list-link">наше разведение</a></li>
      <li class="menu__list-item"><a routerLink="/schenki" routerLinkActive="menu_list-link__white" class="menu_list-link">щенки</a></li>
      <li class="menu__list-item"><a routerLink="/novosti" routerLinkActive="menu_list-link__white" class="menu_list-link">новости</a></li>
      <li class="menu__list-item"><a routerLink="/kontaktyi" routerLinkActive="menu_list-link__white" class="menu_list-link">контакты</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="footer__contact">
      <div class="header__contact-box">
        <img src="assets/images/templates/icon/tell-icon.png" class="header__contact-icon" alt="phone Angel's Born">
        <a href="tel:+79166752928" class="header__contact">+7 (916) 675-29-28</a>
        <a href="tel:+79256013800" class="header__contact">+7 (925) 601-38-00</a>
      </div>
    </div>
    <div class="footer__box">
      <div class="header__contact-box">
        <img src="assets/images/templates/icon/email-icon.png" class="header__contact-icon" alt="email Angel's Born">
        <a href="mailto:angelsborn&#64;yandex.ru" class="header__contact">angelsborn&#64;yandex.ru</a>
      </div>
    </div>
    <div class="footer__label">
      <p>Питомник биглей и лабрадоров FCI-РКФ</p>
      <img class="footer__img" src="assets/images/templates/logo3.png" alt="">
    </div>
  </div>
</footer>
