:host {
  .content__text {
    margin: 55px 0 0 40px;
    max-width: 770px;
    font-size: 18px;
    color: #fff;
  }

  .text-li {
    color: #fff;
  }

  h2 {
    font-size: 20px;
    color: #fff;
  }

  .slider__news {
    display: none;
  }

  .content__last-news {
    width: 400px;
    margin: 55px 40px 0 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .new__data {
    text-align: left;
    padding-left: 5px;
    color: #fff;
  }

  .last__new-1,
  .last__new-2,
  .last__new-3 {
    color: #fff;
  }

  .detail {
    text-align: right;
    color: #00F410;
  }

  .mobile__last-news {
    display: none;
  }
}
