<div class="container">
  <h1 class="content__name">Главная</h1>
  <div class="wrapper__content">
    <h2 class="text-orange mobile__last-news">Последнии новости</h2>
    <div class="slider__news">
      <div class="slider__item">
        <div class="last__new-1">
          <br>
          <div class="new__data">
            <p>03 сентября 2025 года</p>
          </div>
          <div class="news__text news-23__text">
            <br>
            <div class="parents_info">
              <p>Рождение щенков от пары:</p>
            </div>
            <div class="parents_name"><p><span class="text-green">Angel's Born Stinger</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/ultramarines-butterfly"><span class="text-green_a"><u>Ultramarines Butterfly</u></span></a></p></div>
            </div>
            <p class="detail"><a class="text-green" routerLink="/schenki">подробнее &gt;&gt;&gt;</a></p>
        </div>
      </div>
    </div>
    <div class="content__text">
      <p>
        Дорогие друзья! Меня зовут Измайлова Ирина и я рада приветствовать вас на сайте нашего питомника "Angel's Born". Мы профессионально занимаемся разведением и продажей щенков породы бигль и лабрадор.
      </p>
      <p>
        У нас вы можете приобрести щенка для выставок, охоты, племенной работы и просто домашнего любимца.
      </p>
      <p>
        Каждая вязка в нашем питомнике тщательно продумывается и заранее планируется. К племенному разведению допускаются только собаки, соответствующие стандарту, не имеющие генетических отклонений и ветеринарных противопоказаний. К моменту вязки наши производители уже имеют неоднократно подтверждённые оценки "Отлично" отечественных и зарубежных экспертов, а также титулы.
      </p>
      <p>
        В целях повышения уровня знаний мы постоянно учимся и совершенствуемся, посещаем семинары и конференции для заводчиков.
      </p>
      <p>
        Цель нашего разведения - получить здоровое и качественное потомство.
      </p>
      <p>
        Все щенки в нашем питомнике выращены на высококачественных кормах супер-премиум класса, вакцинированы по возрасту качественными импортными вакцинами, социализированы в большой дружной семье.
      </p>
      <p>
        Каждый наш щенок долгожданный и любимый!
      </p>
      <br>
      <p class="text-li">
        Наши малыши на момент передачи будущим владельцам имеют:
      </p>
      <ul>
        <li class="text-li">метрику щенка</li>
        <li class="text-li">международный ветеринарный паспорт с отметками о проведенных вакцинациях</li>
        <li class="text-li">договор купли-продажи</li>
        <li class="text-li">клеймо</li>
      </ul>
      <br>
      <p>
        Мы гарантируем вам чистопородность и здоровье наших щенков, а также всестороннюю помощь по выращиванию, уходу и воспитанию питомца. Мы всегда рады общаться с вами!
        <br>
        В разделе <a class="text-green" routerLink="/schenki">щенки</a> вы найдете информацию об имеющихся пометах и планируемых вязках.
      </p>
    </div>
    <div class="content__last-news">
      <h2 class="text-orange">Последнии новости</h2>
      <div class="last__new-1">
        <br>
        <div class="new__data">
          <p>03 сентября 2025 года</p>
        </div>
        <div class="news__text news-23__text">
          <br>
          <div class="parents_info">
            <p>Рождения щенков от пары:</p>
          </div>
          <div class="parents_name"><p><span class="text-green">Angel's Born Stinger</span> <span class="text-orange"> &amp; </span> <a routerLink="/nashi-sobaki/ultramarines-butterfly"><span class="text-green_a"><u>Ultramarines Butterfly</u></span></a></p></div>
        </div>
        <p class="detail"><a class="text-green" routerLink="/schenki">подробнее &gt;&gt;&gt;</a></p>
      </div>
    </div>
  </div>
</div>
