<div class="container">
  <h1 class="content__name">История</h1>
  <div class="wrapper__content">
    <div class="history">
      <p>
        Немного о том, как все начиналось…
      </p>
      <br>
      <p>
        Собаки у меня с самого детства. Сначала это были дворняжки, тибетский терьер, овчарки, ... Я увлеченно занималась с ними дрессировкой, мечтала стать ветеринаром, но, к сожалению, продолжая семейную династию, получила кардинально другое образование. Потеряла много времени, работая по полученной специальности, пробовала себя и в других направлениях, но все не сложилось...
      </p>
      <p>
        В то время я уже подумывала о породистой собаке для выставок и разведения. Проштудировав массу литературы, я остановилась на лабрадорах. Наш первый лабрадор появился в нашей семье в начале 2000х годов. И я не ошиблась! Покорила жизнерадостность этой породы и любовь к окружающим, бесконечная преданность, желание всегда услужить хозяину и трудолюбие. Эти собаки очень умны, полны энергии и хорошего настроения, они любят весь мир вокруг. Можно бесконечно говорить об этой породе, подарившей нам новую жизнь, полную радости и положительных эмоций, новых знакомств и сумасшедших идей. Это так здорово, когда благодаря своему питомцу у человека открываются новые возможности и таланты, появляются новые друзья. Еще я поняла, что это моё, единственное любимое дело на всю жизнь.
      </p>
      <p>
        Не могу не сказать несколько слов о нашей любимице Энджел. Она появилась в нашей семье в 2006 году. Умнейщая, солнечная собака с ангельским характером. Ее имя говорит само за себя и, конечно же, только ее имя должно было стать впоследствии основой имени нашего питомника.
      </p>
      <p>
        Шло время, мир кинологии прочно вошел в нашу жизнь. Мы участвовали в выставках, племенных смотрах, рабочих состязаниях, занимались разведением и в голове прочно засели мысли о регистрации своего питомника.
      </p>
      <p>
        В 2012 году я начала обучение на курсах в РКФ на кинолога и судью-эксперта по породам. Учеба давалась с азартом и легко.В 2013 году я успешно закончила обучение, получила диплом. Тогда же стал вопрос о новой породе для регистрации питомника. К тому времени я уже была влюблена в биглей. Это было уже достаточно продуманное решение. В том же году у нас и появился наш первый бигль Ника (Varinhouse Young-and-Beautiful). Огромное спасибо за доверие Евгении Горбуновой (питомник Varinhouse). С тех пор я увлечена этой породой и до сегодняшнего дня не знаю более оригинальных собак, восхищаюсь их умом, хитростью и сообразительностью, безмерной любовью и абсолютным отсутствием агрессии. Бигли, как и лабрадоры, заняли главное место в наших сердцах, и в настоящее время являются основой поголовья  нашего питомника.
      </p>
      <p>
        В 2015 году наш питомник «Angel's Born» (в переводе с английского «рождение ангела», «прирожденный ангел») был зарегистрирован в системе РКФ-FCI. Пазл в голове сложился полностью. Все это определило меня в нынешнем деле, чему я несказанно рада. Это дело стало любимейшей частью моей жизни. С этого момента началась история нашего питомника и все дальнейшие события вы сможете отследить в остальных разделах нашего сайта..
      </p>
      <p>
        Моя многолетняя мечта сбылась… Хочу сказать от всей души огромное спасибо за понимание моей семье, в частности маме и детям, за помощь и поддержку моему любимому мужу, младшему сыну Кириллу за разработку и поддержку сайта нашего питомника, а также моим друзьям-единомышленникам и всем тем, кто  был не равнодушен к нам на этом нелегком, тернистом пути.
      </p>
      <p>
        У вас наверняка возникнет вопрос - зачем мне это надо? С удовольствием отвечу, что просто нужно очень любить то, чем занимаешься, тогда все делается с большим удовольствием. Отдавая новому владельцу щенка из своего питомника, неважно для разведения или просто для души, я дарю людям радость. А это именно то, ради чего стоит тратить свои силы и вообще жить!
      </p>
      <p>
        Я горжусь и буду гордиться вашими достижениями и победами, вашими результатами! Всегда готова поделиться своими знаниями и опытом, своими знакомствами в мире кинологии. И каждый день, без выходных, днем и ночью очень рада, наслаждаюсь общению с вами, дорогие мои… Хочу сказать, что не все будет легко, но сложности всегда легче преодолевать вместе, поэтому я всегда рядом…
      </p>
      <br>
      <p class="p_right">
        Всегда ваша, Измайлова Ирина.
      </p>
    </div>
  </div>
</div>
